.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal {
        background: var(--secondary-color);
        padding: 20px;
        border-radius: 8px;
        width: 300px;
        text-align: center;
        box-shadow: var(--box-shadow-modal);

        h2 {
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 2px solid var(--border-bg);
            background-color: var(--content-bg);
            color: var(--primary-color);
            transition: all 0.3s ease;

            &:focus {
                outline: none;
                border-color: var(--light-bg);
                box-shadow: 0 0 5px var(--light-bg);
                background-color: var(--secondary-color);
            }
        }

        button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background: #007bff;
            color: white;
            font-size: 16px;
        }

        .close-btn {
            background: #ff4d4d;
        }
    }
}
