.home {
    width: 100%;
    padding: 20px 0;
    background-color: var(--content-bg);
    min-height: calc(100vh - 60px);

    .container {
        width: 100%;
        padding: 0 20px;
    }

    .home__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 0;
    }
}